.Header
  = render 'layouts/header'
.SingleContainerRegistration
  .SingleContainerRegistration__Logo
    = link_to root_path, class: 'LogoImage' do
      = image_tag "/logo/logo.png"
  .RegistrationNew
    .RegistrationNew__Wrapper
      .RegistrationNew__Wrapper__Title
        %p お届け先住所入力
      .RegistrationNew__Wrapper__Form
        = form_for(@address, url: address_path, method: :post) do |f|
          =render "devise/shared/error_messages", resource: @address
          .Form
            .Form__Field
              = f.label :郵便番号
              %span.Form__Field__Required 必須
              = f.text_field :postal_code, placeholder: "例)123-4567 もしくは 1234567", class: 'Form__Field__Input'
            .Form__Field
              = f.label :都道府県
              %span.Form__Field__Required 必須
              = f.select :prefecture, Postal.prefectures.keys, {}, {class: 'Form__Field__Input'}
            .Form__Field
              = f.label :市町村
              %span.Form__Field__Required 必須
              = f.text_field :city, placeholder: "例)札幌市", class: 'Form__Field__Input'
            .Form__Field
              = f.label :番地
              %span.Form__Field__Required 必須
              = f.text_field :address_line, placeholder: "例)中央区北1条西2-1-7", class: 'Form__Field__Input'
            .Form__Field
              = f.label :建物名
              %span.Form__Field__NotRequired (任意)
              = f.text_field :apartment, placeholder: "例)柳ビル103", class: 'Form__Field__Input'
            .Actions
              = f.submit "次へ進む", class: 'SubmitBtn', url: "creditcard_path"     
.Footer
  = render 'layouts/footer'