.Header
  devise registration new_creditcard.html.haml<br/>
  サインアップ時のクレジットカード入力画面です
  ここでrenderを使ってメインヘッダーかロゴを呼び出す
.SingleContainerRegistration
  .RegistrationNew
    .RegistrationNew__Wrapper
      .RegistrationNew__Wrapper__Title
        %p クレジットカード情報の入力
      .RegistrationNew__Wrapper__Form
        = form_for "#" do |f|
          .Form
            .Form__Field
              = f.label :カード番号   # ---＊Payjpの導入がまだきっちりみれていないので、テーブルも作成していない＊---
              %span.Form__Field__Required 必須
              = f.text_field :card_number, placeholder: "半角数字のみ", class: 'Form__Field__Input'
            .Form__Field
              = f.label :カード会社   # ---＊FontAwesomeのカード会社のロゴは表示できないので、どこかで素材調達必須
              %span.Form__Field__Required 必須
              = f.select :card_company, [['VISA', 1], ['MasterCard', 2], ['JCB', 3]], {}, {class: 'Form__Field__Input'}
              %ul.CardCompanyList
                %li.CardCompanyList__Icon--VISA
                  %i.fa.fa-credit-card
                %li.CardCompanyList__Icon--VISA
                  %i.fa.fa-credit-card
                %li.CardCompanyList__Icon--VISA
                  %i.fa.fa-credit-card       
                %li.CardCompanyList__Icon--VISA
                  %i.fa.fa-credit-card
                %li.CardCompanyList__Icon--VISA
                  %i.fa.fa-credit-card
                %li.CardCompanyList__Icon--VISA
                  %i.fa.fa-credit-card                                 
            .Form__Field
              = f.label :有効期限
              %span.Form__Field__Required 必須
              %br/
              = f.select :card_month, ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"], {}, {class: 'Form__Field__Card'}
              = f.label :月
              %span.Form__Field_Required
              = f.select :card_year, ["20", "21", "22", "23", "24", "25", "26"], {}, {class: 'Form__Field__Card'}
              = f.label :年
            .Form__Field
              = f.label :セキュリティコード
              %span.Form__Field__Required 必須
              = f.text_field :card_path, placeholder: "カード背面の４桁もしくは３桁の番号", class: 'Form__Field__Input'
              .Form__Field__InlineLayoutRight
                .AddQuestion ? 
                %p.SecurityCode カード裏面の番号とは?
            .Actions
              = f.submit "登録する", class: 'SubmitBtn', url: "creditcard_path"     


.Footer
  ここでrenderを使ってフッターなどを呼び出す