.Header
  = render 'layouts/header'
.SingleContainerRegistration
  .SingleContainerRegistration__Logo
    = link_to root_path, class: 'LogoImage' do
      = image_tag "/logo/logo.png"
  .RegistrationNew
    .RegistrationNew__Wrapper
      .RegistrationNew__Wrapper__Title
        %p クレジットカード情報の入力
      .RegistrationNew__Wrapper__Form
        = form_tag(pay_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do
          .Form
            .Form__Field
              %label :カード番号   # ---＊Payjpの導入がまだきっちりみれていないので、テーブルも作成していない＊---
              %span.Form__Field__Required 必須
              = text_field_tag "number", "", class: "number Form__Field__Input", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
            .Form__Field
              %ul.CardCompanyList
                %li.CardCompanyList__Icon
                  = image_tag "/logo/card_all.gif"                                
            .Form__Field
              %label :有効期限
              %span.Form__Field__Required 必須
              %br/
              %select#exp_month{name: "exp_month", type: "text", {}, {class: 'Form__Field__Card'}}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              %label :月
              %span.Form__Field_Required
              %select#exp_year{name: "exp_year", type: "text", {}, {class: 'Form__Field__Card'}}
                %option{value: ""} --
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              %label :年
            .Form__Field
              %label :セキュリティコード
              %span.Form__Field__Required 必須
              = text_field_tag "cvc", "", class: "cvc Form__Field__Input", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
              .Form__Field__InlineLayoutRight
                .AddQuestion ? 
                %p.SecurityCode カード裏面の番号とは
            .Actions
              = submit_tag "登録する", class: 'SubmitBtn', id: "token_submit"


.Footer
  = render 'layouts/footer'