= render 'layouts/header'  

.CategoriesP
  .Categoriesp__Index
    .CategoriesP__Index__Title
      = "#{@category.name}の商品一覧"
    .CategoriesP__Index__Pict
      = link_to product_path(@product) do
        .Pict
        = image_tag @product.images
    
.PostFooter
  = render partial: 'layouts/footer'