.PostHeader
  -if user_signed_in?
    = render 'layouts/loginheader'
  - else
    = render 'layouts/header'  

.ProductsContainer
  .ProductsIndex
    .Title
      = "#{@category.name}の商品一覧"
    - if @products
      %ul.lists
        

.PostFooter
  = render partial: 'layouts/footer'