%body
  = render 'layouts/header'  
  .wrapper-2
    // 人生を変えるフリマアプリ
    .Introduction
      .Introduction__Content
        .Introduction__Content--Title
          %br/
          人生を変えるフリマアプリ
        .Introduction__Content--Text
          FURIMAはだれでもかんたんに出品・購入できる
          %br/
          フリマアプリです
        .Introduction__Content--Btn
          = link_to image_tag("/icon/app-store.svg", class: 'Apple'), "#"
          = link_to image_tag("/icon/google-play.svg", class: 'Google'), "#"
    // FURIMAが選ばれる3つの理由      
    .Reason
      .Reason__SubTitle
        FURIMAが選ばれる3つの理由
        %hr.1(size="6px" width="70px" color="#3CCACE")/
      %ul.Reason__Lists
        %li.Reason__Lists--List
          .Reason__Lists--Picture
            %span.Reason__Lists--Picture-No1
              1
            = image_tag "/pict-reason-01.jpg", width: "306px", height: "306px", alt: "Exhibition" 
          %h3.Reason__Lists--Text
            %span.Reason__Lists--Text
              3分
            ですぐに出品
          %p.Reason__Lists--Explanation
            スマホで入力するだけで簡単に出品できる！  
        %li.Reason__Lists--List
          .Reason__Lists--Picture
            %span.Reason__Lists--Picture-No1
              2
            = image_tag"/pict-reason-02.jpg", width: "306px", height: "306px", alt: "Exhibition"
          %h3.Reason__Lists--Text
            %span.Reason__Lists--Text
              シンプル
            で使いやすい
          %p.Reason__Lists--Explanation
            めんどくさい入力は必要なく、検索も購入もスムーズ！  
        %li.Reason__Lists--List
          .Reason__Lists--Picture
            %span.Reason__Lists--Picture-No1
              3
            = image_tag"/pict-reason-03.jpg", width: "306px", height: "306px", alt: "Exhibition"
          %h3.Reason__Lists--Text
            手数料
            %span.Reason__Lists--Text
              業界最安
          %p.Reason__Lists--Explanation
            最大3%でお得に出品&購入！  
    // 会員数日本一位
    .MemberIntroduction
      .MemberIntroduction__In
        %h2.MemberIntroduction__In--Subtitle
          会員数日本一位
        %p.MemberIntroduction__In--text
          FURIMAは、フリマアプリで最も人気。
          %br/
          出品・購入回数も業界最多です！
          %br/
          ほしかったあの商品に出会えるかもしれません。
        .MemberIntroduction__In--Btn
          = link_to image_tag("/icon/app-store.svg", class: 'Apple'), "#"
          = link_to image_tag("/icon/google-play.svg", class: 'Google'), "#"
    -# FURIMAの特徴
    .Feature
      %h2.Feature__SubTitle
        FURIMAの特徴
        %hr.1(size="6px" width="70px" color="#3CCACE")/
      %ul.Feature__Points
        %li.Feature__Points--Point
          .Feature__Points--Picture
            = image_tag"/icon/icon-01.png", width: "219.33px", height: "337.61px", alt: "Product"
          %h3.Feature__Points--Point-1
            簡単に売り買いできる
          %p.Feature__Points--Point-2
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        %li.Feature__Points--Point
          .Feature__Points--Picture
            = image_tag"/icon/icon-03.png", width: "219.33px", height: "337.61px", alt: "Product"
          %h3.Feature__Points--Point-1
            売上金は即日振込みに対応
          %p.Feature__Points--Point-2
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        %li.Feature__Points--Point
          .Feature__Points--Picture
            = image_tag"/icon/icon-04.png", width: "219.33px", height: "337.61px", alt: "Product"
          %h3.Feature__Points--Point-1
            様々な支払いに対応
          %p.Feature__Points--Point-2
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    -# ピックアップカテゴリー
    .PickupCategorys
      %h2.PickupCategorys__SubTitle
        ピックアップカテゴリー
      .PickupCategorys__Products
        .PickupCategorys__Products--Sub
          =link_to do
            %h3.PickupCategorys__Products--SubName
              新規投稿商品
        .PickupCategorys__Products--Lists
          - @product.each do |product|
            - if product.shipping_status.present?
              = link_to product_path(product) do

                .PickupCategorys__Products--List
                  %figure.PickupCategorys__Products--ListPicture
                    .sold
                      .sold--in
                        SOLD
                  = image_tag product.images[0].image.url, width: "219.33px", height: "150px", alt: "Product", class: "img"
                  .PickupCategorys__Products--ListDetails
                    %h3.PickupCategorys__Products--ListDetailsName
                      = product.pname
                    .PickupCategorys__Products--ListDetailsDetail
                      %ul.Summary
                        %li.Price
                          = product.price
                          円
                        %li.Star
                          = icon('fas', 'star')
                          0
                      %p.Tax
                      (税込)
            - else
              = link_to product_path(product) do
                .PickupCategorys__Products--List
                  %figure.PickupCategorys__Products--ListPicture
                  = image_tag product.images[0].image.url, width: "219.33px", height: "150px", alt: "Product", class: "img"
                  .PickupCategorys__Products--ListDetails
                    %h3.PickupCategorys__Products--ListDetailsName
                      = product.pname
                    .PickupCategorys__Products--ListDetailsDetail
                      %ul.Summary
                        %li.Price
                          = product.price
                          円
                        %li.Star
                          = icon('fas', 'star')
                          0
                      %p.Tax
                      (税込)        
    -# ピックアップブランド
    .PickupBrands
      %h2.PickupBrands__SubTitle
        ピックアップブランド
      .PickupBrands__Products
        .PickupBrands__Products--Sub
          =link_to '#' do
            %h3.PickupBrands__Products--SubName
              アーカイバ
        .PickupBrands__Products--Lists
          - @product.each do |product|
            -if product.shipping_status.present?
              = link_to "/products/show" do
                .PickupBrands__Products--List
                  %figure.PickupBrands__Products--ListPicture
                    .sold2
                      .sold2--in2
                        SOLD
                  = image_tag product.images[0].image.url, width: "219.33px", height: "150px", alt: "Product", class: "img"
                  .PickupBrands__Products--ListDetails
                    %h3.PickupBrands__Products--ListDetailsName
                      = product.pname
                    .PickupBrands__Products--ListDetailsDetail
                      %ul.Summary
                        %li.Price
                          = product.price
                          円
                        %li.Star
                          = icon('fas', 'star')
                          0
                      %p.Tax
                        (税込)
            -else
              = link_to "/products/show" do
                .PickupBrands__Products--List
                  %figure.PickupBrands__Products--ListPicture
                  = image_tag product.images[0].image.url, width: "219.33px", height: "150px", alt: "Product", class: "img"
                  -# = product.images[0]
                  .PickupBrands__Products--ListDetails
                    %h3.PickupBrands__Products--ListDetailsName
                      = product.pname
                    .PickupBrands__Products--ListDetailsDetail
                      %ul.Summary
                        %li.Price
                          = product.price
                          円
                        %li.Star
                          = icon('fas', 'star')
                          0
                      %p.Tax
                        (税込)
  -# 今すぐ無料ダウンロード！                 
  %aside.Banner
    .Banner__Center
      %h2.Banner__Center--SubTitle
        だれでもかんたん、人生を変えるフリマアプリ
      %p.Banner__Center--Text
        今すぐ無料ダウンロード！
      .Banner__Center--Btn
        = link_to image_tag("/icon/app-store.svg", class: 'Apple'), "#"
        = link_to image_tag("/icon/google-play.svg", class: 'Google'), "#"
  = render "layouts/footer"
