.Wrapper
  %header
    = render 'header'
  .Main
    .Contents
      = form_with model: @product, html: {class: "Form"}, local: true do |f|
        .InputPhoto
          .InputPhoto__FormLabel
            %label 出品画像
            %span.red 必須
          %p 最大10枚までアップロードできます
          -# = image_tag @product.image.url, class: 'Message__image' if message.image.present?
          -# 画像挿入時用
          .InputPhoto__DropArea
            = f.fields_for :images do |c|
              -# = c.label :image
              = c.file_field :image, multiple: true
        .InputInfo
          .InputInfo__NameForm
            .InputInfo__NameForm__FormLabel 
              %label 商品名
              %span.red 必須
            = f.text_field :pname, class: 'InputInfo__NameForm__FormArea', placeholder: '40文字まで'
          .InputInfo__InfoForm
            .InputInfo__InfoForm__FormLabel
              %label 商品の説明
              %span.red 必須
            = f.text_area :explanation, class: 'InputInfo__InfoForm__FormArea', placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
            %p 0/1000
        .InputData
          %p 商品の詳細
          .InputData__CategoryForm
            .InputData__CategoryForm__FormLabel
              %label カテゴリー
              %span.red 必須
            = f.collection_select :category_ids, @parents, :id, :name,{prompt: "選択して下さい"}, class: "select-default", id: "parent-form", name: 'item[category_ids][]'
            -# = f.select :category_id, [["選択して下さい", 0],["¥~999", 1],["¥1,000~¥1,999", 2],["¥2,000~¥2,999",3],["¥3,000~",4]]
          .InputData__BrandForm
            .InputData__BrandForm__FormLabel
              %label ブランド
              %span.gray 任意
            = f.text_field :brand_id, class: 'InputData__BrandForm__FormArea', placeholder: '例）シャネル'
          .InputData__StatusSelect
            .InputData__StatusSelect__FormLabel
              %label 商品の状態
              %span.red 必須
            = f.select :status, [["選択して下さい", 0],["新品・未使用", 1],["未使用に近い", 2],["目立った傷や汚れなし",3],["やや傷や汚れあり",4],["傷や汚れあり",5],["全体的に状態が悪い",6]]
        .InputSipping
          %p 配送について
          .InputSipping__DeliveryFee
            .InputSipping__DeliveryFee__FormLabel
              %label 配送料の負担
              %span.red 必須
            = f.select :deliver, [["選択して下さい", 0],["送料込み(出品者負担)", 1],["着払い(購入者負担)", 2]]
          .InputSipping__ShippingOrigin
            .InputSipping__ShippingOrigin__FormLabel
              %label 発送元の地域
              %span.red 必須
            = f.select :prefecture, [["選択して下さい", 0],["¥~999", 1],["¥1,000~¥1,999", 2],["¥2,000~¥2,999",3],["¥3,000~",4]]
          .InputSipping__ShippingDays
            .InputSipping__ShippingDays__FormLabel
              %label 発送までの日数
              %span.red 必須
            = f.select :shipping_dates, [["選択して下さい", 0],["1~2日で発送", 1],["3~4日で発送", 2],["4~7日で発送",3]]
        .InputPrice__Price
          %p 価格（¥300〜9,999,999）
          .InputPrice__LabelBox
            .InputPrice__LabelBox__Label
              %label 販売価格
              %span.red 必須
            .InputPrice__LabelBox__InputPrice
              %span.YenLabel ￥
              = f.number_field :price, class: "InputPrice__LabelBox__InputPrice--fild", placeholder: "0"
          .InputPrice__TaxBox
            .InputPrice__TaxBox__Tax 販売手数料（10%）
            %span.Tax ー
          .InputPrice__ProfitBox 
            .InputPrice__ProfitBox__Profit 販売利益
            %span.Profit ー
        .InputSubmit
          = f.submit '出品する', class: 'InputSubmit__Exhibition__Button'
          = f.submit '下書きに保存', class: 'InputSubmit__Save__Button'
          %a= link_to "もどる", products_path
        %p.Precautions
          禁止されている
          %a<>
            = link_to "行為", "#"
          および
          %a<>
            = link_to "出品物", "#"
          を必ずご確認ください。
          %a<>
            = link_to "偽ブランド品", "#"
          や
          %a<>
            = link_to "盗品物", "#"
          などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
          %a<>
            = link_to "加盟店規約", "#"
          に同意したことになります。
  %footer
    = render 'footer'

    -# = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
    -#   .Form__contents
    -#     = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
    -#     = f.label :image, class: 'Form__inputImage' do
    -#       = icon('far', 'image', class: 'Form__icon')
    -#       = f.file_field :image, class: 'Hidden'
    -#   = f.submit 'Send', class: 'Form__submit'