.footerPc 
  %ul.contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul.content__box
        %li
          = link_to '会社概要（運営会社）', '#'
        %li
          = link_to 'プライバシーポリシー', '#'
        %li
          = link_to 'FURIMA利用規約', '#'
        %li
          = link_to 'ポイントに関する特約', '#'
    %li.content
      %h2.content__head
        FURIMAを見る
      %ul.content__box
        %li
          = link_to 'カテゴリー一覧', '#'
        %li
          = link_to 'ブランド一覧', '#'
    %li.content
      %h2.content__head
        ヘルプ＆ガイド
      %ul.content__box
        %li
          = link_to 'FURIMAガイド', '#'
        %li
          = link_to 'FURIMAロゴ利用ガイドライン', '#'
        %li
          = link_to 'お知らせ', '#'
  .footer-logo
    = image_tag '/logo/logo-white.png', alt: 'FURIMA', height: '46px', width: '160px'
  %p.copy
    &copy; FURIMA
    .footer-bt
      %span.footer-bt--text
        出品する
      .footer-bticon
        -# = link_to image_tag("/icon/icon_camera.png", class: 'Camera'), "#"