.headerPc
  .headerInner
    .headerMain
      .furimaImg
        = link_to root_path, class: 'LogoImage' do
          = image_tag '/logo/logo.png', alt: 'FURIMA', height: '40px', width: '140px'
      .searchBox
        .searchBox__input
          %input.search{type: 'search', placeholder: 'キーワードから探す'}
        .searchBox__button
          %input.form-submit{type: 'submit', value: ' '}
            = image_tag '/icon/icon-search 1.png', height: '20px', width: '20px', class: 'icon-search'
    .navigation
      .navigation__left
        = render 'layouts/categorylists'
        -# .catBtn
        -#   = link_to categories_path, id: "Navigation_Category" do
        -#     %i.fas.fa-book
        -#     カテゴリー
            
        .brandBtn
          = link_to 'ブランド', '#'
      .navigation__right
        - if user_signed_in?
          .logBtn
          = link_to user_path(current_user.id) do
            %i.far.fa-address-card
            マイページ
        - else
          .logBtn
          = link_to new_user_session_path  do
            ログイン
          .newBtn
          = link_to new_user_registration_path  do
            新規会員登録
    = render 'layouts/breadcrumbs'
    = render 'layouts/breadcrumbsforproducts'
